## Lambda Function in Python

In [5]:
#Syntax
lambda arguments: expression

In [6]:
def addition(a,b):
    return a+b

In [7]:
addition(2,3)

5

In [8]:
lambda a,b: a+b
print(addition(2,3))

5

In [9]:
def even(num):
  if num%2==0:
    return True

even(24)

True

In [10]:
even1 = lambda num:num%2==0
even1(24)

True

In [11]:
def addition(x,y,z):
  return x+y+z

addition(1,2,3)

6

In [12]:
addition1 = lambda x,y,z:x+y+z
addition1(1,2,3)

6

## **Map Function :**
The map function applies a function to all iteams in a list  (or any other iterable) and return a mao objects(any iterator).This is particularly useful  for transforming data in a list comprehensively

In [13]:
numbers = [1,2,3,4,5]
def square(numbers):
  return numbers**2

square(2)

4

In [14]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25]

In [15]:
def square(x):
  return x*x

square(2)

4

In [16]:
numbers = [1,2,3,4,5,6,7,8]

list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

Lambda function with map

In [17]:
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

Map multiple itretables

In [18]:
numbers1=[1,2,3]
numbers2=[4,5,6]
added_numbers = list(map(lambda x,y:x+y, numbers1, numbers2))

In [19]:
print(added_numbers)

[5, 7, 9]

map() to convert a list of strings to integers

In [1]:
str_numbers = ['1','2','3','4','5']
int_numbers = list(map(int, str_numbers))

print(int_numbers)   #output: []1,2,3,4,5]

[1, 2, 3, 4, 5]

In [6]:
words = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
x = list(map(str.upper, words))
print(x)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [9]:
def get_name(person):
  return person['name']

people=[
    {'name':'Sahil','age':26},
    {'name':'Akash','age':25},
    {'name':'Aman','age':21}
]
list(map(get_name,people))

['Sahil', 'Akash', 'Aman']

## The **filter()** function in python

In [10]:
def even(num):
  if num%2==0:
    return True

In [11]:
even(24)

True

In [15]:
lst = [1,2,3,4,5,6,7,8,9,10]
list(filter(even,lst))

[2, 4, 6, 8, 10]

### Filter() with Lambda() Function

In [16]:
numbers = [1,2,3,4,5,6,7,8,9,10]
greater_then_five = list(filter(lambda x:x>5,numbers))

In [17]:
greater_then_five

[6, 7, 8, 9, 10]

filter with lambda function and multiple conditions

In [18]:
numbers = [1,2,3,4,5,6,7,8,9]
even_and_greater_then_five = list(filter(lambda x:(x%2==0 and x>5),numbers))

In [19]:
even_and_greater_then_five

[6, 8]

Apply filter to check if the age isgreater than 25 in dictonary

In [25]:
def get_name(person):
  return person['name']

people=[
    {'name':'Sahil','age':26},
    {'name':'Akash','age':25},
    {'name':'Aman','age':21}
]
def age_greater_than_25(person):
  return person['age']>=25

list(filter(age_greater_than_25,people))

[{'name': 'Sahil', 'age': 26}, {'name': 'Akash', 'age': 25}]

## **Conclusion**

The filter() function is a powerful tool for creating iterators that filter items out of an iterable based on a function. It is commanly used for data cleaning, filtering objects, and removing unwanted elements from lists. By mastering filter() , you can write more concise and efficient code for processing and manipulating collection in python.