Structured query language (SQL) is a programming language for storing and processing information in a relational database. A relational database stores information in tabular form, with rows and columns representing different data attributes and the various relationships between the data values. You can use SQL statements to store, update, remove, search, and retrieve information from the database.

In [57]:
import sqlite3

In [59]:
## Connect to an SQLite database
connection=sqlite3.connect('example.db',timeout=10)
connection

In [61]:
cursor=connection.cursor()

In [63]:
## Create a Table
cursor.execute('''
Create Table If Not Exists employees(
        id Integers Primary Key,
        name Text Not Null,
        age Integer,
        department text
        )
   ''')

In [65]:
##commit the changes
connection.commit()

In [75]:
## Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name, age, department)
            values('Sahil',26,'MLOPs')

''')

cursor.execute('''
Insert Into employees(name, age, department)
            values('Aakash',25,'Civil Eng')

''')

cursor.execute('''
Insert Into employees(name, age, department)
            values('Aman',27,'Developer')

''')

## commit the changes
connection.commit()

In [77]:
##Quering the data from the table
cursor.execute('Select * from employees where age>25')
rows=cursor.fetchall()

## Print the queried data
for row in rows:
    print(row)

(None, 'Sahil', 26, 'MLOPs')
(None, 'Aman', 27, 'Developer')
(None, 'Sahil', 26, 'MLOPs')
(None, 'Aman', 27, 'Developer')
(None, 'Sahil', 26, 'MLOPs')
(None, 'Aman', 27, 'Developer')
(None, 'Sahil', 26, 'MLOPs')
(None, 'Aman', 27, 'Developer')
(None, 'Sahil', 26, 'MLOPs')
(None, 'Aman', 27, 'Developer')

In [85]:
## update the data in table
cursor.execute('''
UPDATE employees
set age=34
where name="Sahil"

''')

connection.commit()

In [87]:
##Quering the data from the table
cursor.execute('Select * from employees ')
rows=cursor.fetchall()

## Print the queried data
for row in rows:
    print(row)

(None, 'Sahil', 34, 'MLOPs')
(None, 'Aakash', 25, 'Civil Eng')
(None, 'Aman', 27, 'Developer')
(None, 'Sahil', 34, 'MLOPs')
(None, 'Aakash', 25, 'Civil Eng')
(None, 'Aman', 27, 'Developer')
(None, 'Sahil', 34, 'MLOPs')
(None, 'Aakash', 25, 'Civil Eng')
(None, 'Aman', 27, 'Developer')
(None, 'Sahil', 34, 'MLOPs')
(None, 'Aakash', 25, 'Civil Eng')
(None, 'Aman', 27, 'Developer')
(None, 'Sahil', 34, 'MLOPs')
(None, 'Aakash', 25, 'Civil Eng')
(None, 'Aman', 27, 'Developer')

In [91]:
## Delete the data from the table
cursor.execute('''
Delete from employees
            where name = "Sahil"
''')

connection.commit()

In [98]:
##Quering the data from the table
cursor.execute('Select * from employees ')
rows=cursor.fetchall()

## Print the queried data
for row in rows:
    print(row)

(None, 'Aakash', 25, 'Civil Eng')
(None, 'Aman', 27, 'Developer')
(None, 'Aakash', 25, 'Civil Eng')
(None, 'Aman', 27, 'Developer')
(None, 'Aakash', 25, 'Civil Eng')
(None, 'Aman', 27, 'Developer')
(None, 'Aakash', 25, 'Civil Eng')
(None, 'Aman', 27, 'Developer')
(None, 'Aakash', 25, 'Civil Eng')
(None, 'Aman', 27, 'Developer')

#**working with sales data**

In [104]:
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

In [120]:
# Create a table for sales data
cursor.execute('''
Create Table If Not Exists employees(
        id Integers Primary Key,
        date TEXT NOT NULL,
        product TEXT NOT NULL,
        sales INTEGER,
        region TEXT
        )
   ''')


# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Produsct1', 100, 'North'),
    ('2023-01-02', 'Produsct2', 200, 'South'),
    ('2023-01-03', 'Produsct1', 150, 'East'),
    ('2023-01-04', 'Produsct3', 250, 'West'),
    ('2023-01-05', 'Produsct2', 300, 'North')
]